name: DA Reference Generator Lambda Tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
      - release-*
permissions:
  id-token: write
  contents: write
jobs:
  check:
    name: Check terraform
    uses: nationalarchives/tdr-github-actions/.github/workflows/terraform_check.yml@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
    with:
      terraform-version: 1.12.2
      working-directory: terraform
    secrets:
      MANAGEMENT_ACCOUNT: ${{ secrets.TDR_MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.TDR_WORKFLOW_PAT }}
  test:
    name: Lambda test
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
    with:
      repo-name: da-reference-generator
      test-command: |
        sbt test
    secrets:
      SLACK_WEBHOOK: ${{ secrets.TDR_SLACK_WEBHOOK }}
